NEXT_PUBLIC_API_BASE=http://localhost:8000
NEXT_PUBLIC_CHAIN=algorand
NEXT_PUBLIC_ALGO_EXPLORER=https://testnet.algoexplorer.io
NEXTAUTH_URL=http://localhost:3005
NEXTAUTH_SECRET=<generate: openssl rand -base64 32>
GOOGLE_CLIENT_ID=<from Google Cloud Console>
GOOGLE_CLIENT_SECRET=<from Google Cloud Console>
NEXTAUTH_BACKEND_URL=http://localhost:8000
